.link-name{
    color: black !important;
}
.nav-class{
    margin-left: auto !important;
}
.brand-name{
    font-size: 22px !important;
}

@media only screen and (max-width: 768px){
    .link-name{
        margin-left: 0px !important;
    }
    .button{
        margin-left: 0px !important;
        margin-top: 10px;
    }
}